/* report-page.component.css */
.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.report-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

h2 {
  color: #2D4059;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.btn-primary {
  background-color: #2D4059;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.btn-primary:hover {
  background-color: #EA5455;
}

.map-container {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.map-wrapper {
  border: 2px solid #2D4059;
  border-radius: 10px;
  overflow: hidden;
  height: 330px; /* Adjust the height as needed */
}

.location-input {
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
}

.location-input label {
  display: block;
  color: #2D4059;
  margin-bottom: 5px;
}

.location-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-success {
  background-color: #EA5455;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.btn-success:hover {
  background-color: #F07B3F;
}

.btn-completed {
  background-color: #EA5455;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.btn-completed:hover {
  background-color: #F07B3F;
}

.btn {
  width: 100%;
  max-width: 300px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
  color: #fff;
}

.modal-content {
  border-radius: 20px; /* Adjust modal shape here */

}

.modal-header {
  border-bottom: none;
  justify-content: center;
}

.modal-header img {
  height: 40px;
  border-radius: 10px; /* Adjust image shape here */
}

.modal-body {
  text-align: center;
  padding: 20px; /* Adjust padding */
  margin-bottom: 20px; /* Adjust margin */
}

.modal-body h5 {
  margin-bottom: 15px;
  color: #2D4059;
}

.modal-body p {
  color: #393E46;
}

.modal-footer {
  border-top: none;
  display: flex;
  flex-direction: column; /* Align buttons vertically */
  align-items: center;
  gap: 10px; /* Space between buttons */
}

.modal-footer .btn {
  width: 200px; /* Ensure buttons have the same width */
  max-width: 200px; /* Adjust the max-width if needed */
  display: inline-block; /* Ensure buttons have the same display style */
}
.modal-dialog {
  max-width: 400px; /* Adjust the width as needed */
  margin: 1.75rem auto;
}
